---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About us">
    <div class="py-8 px-4 mx-auto max-w-xl lg:py-16 ">
    <section class="mx-auto text-left mb-8 lg:mb-16 ">
        <h2 class="text-3xl text-center mb-4 font-extrabold">About Us</h2>
        <img class="mb-4" src="/../../../public/Rocket.webp" alt="Image Rocket">
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-200">It is <em class="text-base text-purple-400">the only private company capable of returning a spacecraft from low-Earth orbit</em>, and in 2012 our Dragon spacecraft became the first commercial spacecraft to deliver cargo to and from the International Space Station.</p>
    </section>
    </div>
</Layout>